html {
    background-color: var(--secondary);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html.noscroll {
    overflow: hidden;
}

:root {
    --primary: #FFE700;
    --secondary: #B5003A;
}

#wpadminbar {
    display: none;
}

html {
    margin-top: 0 !important;
}

img {
    width: 100%;
}