html {
    background-color: var(--secondary);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html.noscroll {
    overflow: hidden;
}

:root {
    --primary: #9EFF00;
    --secondary: #3B009C;

    body {
        --wp--preset--font-size--small: 0.6rem;
        --wp--preset--font-size--medium: 1.5rem;
        --wp--preset--font-size--large: 1.75rem;
        --wp--preset--font-size--x-large: 2.5rem;
    }
}

#wpadminbar {
    display: none;
}

html {
    margin-top: 0 !important;
}

img {
    width: 100%;
}

body.single-tribe_events {
    #main-content {
        margin-top: 7rem;
        min-height: calc(100vh - 7rem - 13rem);
    }
}

body {
    #main-content {
        min-height: calc(100vh - 13rem);
        transition: 0.6s ease filter;

        &.main-menu-open {
            filter: blur(5px);

            #main-content-menu-filter {
                visibility: visible !important;
            }
        }
    }
}