.lpe-fp-heroine-wrapper {
    padding-bottom: min(calc(100% / 16 * 9), 100vh);

    @media (max-width: 1280px) {
        padding-bottom: min(calc(100% / 16 * 12), 100vh);
    }

    @media (max-width: 1080px) {
        padding-bottom: 100vh;
    }

    .lpe-fp-heroine-bg {
        .lpe-fp-heroine-bg-mobile {
            display: none;
        }

        @media (max-width: 1080px) {
            .lpe-fp-heroine-bg-desk {
                display: none;
            }

            .lpe-fp-heroine-bg-mobile {
                display: block;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            @media (max-width: 1080px) {
                object-position: top;
            }
        }

        .lpe-fp-heroine-bg-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--apple-40);
            opacity: 0.6;
            mix-blend-mode: color;

            &.lpe-fp-heroine-bg-darken {
                background-color: black;
                opacity: 0.1;
                mix-blend-mode: darken;
            }
        }
    }

    .lpe-fp-heroine-content {
        text-shadow: 2px 2px var(--ocean);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: var(--ocean);
    }
}