.lpe-fp-heroine-wrapper {

    @media (max-width: 1080px) {
        .lpe-fp-heroine-image {
            display: none;
        }

        .lpe-fp-heroine-content {
            width: 100%;
            max-width: 580px;
        }
    }
}