@media (max-width: 780px) {
    .lpe-footer-inner {
        flex-wrap: wrap;
        row-gap: 2rem;

        &>div {
            width: 100%;
        }

        .lpe-footer-left {
            flex-wrap: wrap;
        }

        .lpe-footer-right {
            align-items: flex-start;
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}