.lpe-navbar-wrapper {
    transition: 0.25s ease background, 0.25s ease transform;

    &.scrollup {
        transform: translateY(-100%);
    }

    .lpe-navbar-menu {
        mix-blend-mode: difference;

        .lpe-navbar-tofuburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            width: 3rem;
            height: 1.25rem;
            transition: 0.25s ease transform;

            >div {
                width: 100%;
                height: 0.25rem;
                background-color: var(--primary);
                transition: 0.25s ease width, 0.25s ease transform, 0.25s ease opacity;

                &:nth-child(2) {
                    width: 80%;
                }

                &:nth-child(3) {
                    width: 60%;
                }
            }

            &.main-menu-open {
                >div {

                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:nth-child(3) {
                        width: 100%;
                    }
                }

                &.main-menu-x {
                    >div {
                        &:nth-child(1) {
                            transform: rotate(45deg) translateY(0.5rem) translateX(0.25rem);
                            transform-origin: center;
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg) translateY(-0.5rem) translateX(0.25rem);
                            transform-origin: center;
                        }
                    }

                    transform: translateX(0.25rem);
                }
            }
        }
    }
}

.lpe-main-menu-container {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) transform;

    @media (min-width: 2080px) {
        min-width: calc((100vw - 1380px) / 2 + 7rem);
    }
}