.lpe-navbar-wrapper {
    transition: 0.25s ease background, 0.25s ease transform;

    &.scrollup {
        transform: translateY(-100%);
    }

    .lpe-navbar-menu {
        mix-blend-mode: difference;

        .lpe-navbar-tofuburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 3rem;
            height: 1.25rem;

            >div {
                width: 100%;
                height: 0.25rem;
                background-color: white;
                border-radius: 0.2rem;

                &:nth-child(3) {
                    width: 66%;
                }
            }
        }
    }
}