.primary {
    --primary-120:#063C43;
    --primary-110:#07444C;
    --primary :#084B54;
    --primary-90:#215D66;
    --primary-80:#396F76;
    --primary-70:#538188;
    --primary-60:#6B9398;
    --primary-50:#84A5AA;
    --primary-40:#9CB7BB;
    --primary-30:#B5C9CC;
    --primary-20:#CEDBDD;
    --primary-10:#E7EDEE;
}

.secondary {
    --secondary-120: #430632;
    --secondary-110: #4C0739;
    --secondary: #54083F;
    --secondary-90: #662153;
    --secondary-80: #763965;
    --secondary-70: #885379;
    --secondary-60: #986B8C;
    --secondary-50: #AA849F;
    --secondary-40: #BB9CB2;
    --secondary-30: #CCB5C6;
    --secondary-20: #DDCED9;
    --secondary-10: #EEE7EC;
}

.tertiary {
    --tertiary-120: #CC9300;
    --tertiary-110: #E6A600;
    --tertiary: #FFB800;
    --tertiary-90: #FFC01A;
    --tertiary-80: #FFC633;
    --tertiary-70: #FFCE4D;
    --tertiary-60: #FFD466;
    --tertiary-50: #FFDC80;
    --tertiary-40: #FFE399;
    --tertiary-30: #FFEAB3;
    --tertiary-20: #FFF1CC;
    --tertiary-10: #FFF8E6;
}